name: Node.js CI

on: push

jobs:
  build-and-test:
    name: build and test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: install dependencies
        working-directory: backend
        run: npm ci

      - name: Lint
        working-directory: backend
        run: npm run lint

      - name: Build docker image
        uses: docker/build-push-action@v5
        with:
          file: backend/Dockerfile
          load: true
          tags: silendt/nodejs-backend:test

      - name: run test container
        run: docker run --name backend-test -d -p 8080:3001 silendt/nodejs-backend:test

      - name: wait
        run: sleep 10

      - name: Check if container is running
        run: docker ps --filter "name=backend-test" --format "{{.Names}}"

      - name: Check if port is listening inside the container
        run: docker exec backend-test wget -qO- http://localhost:3001

      - name: Check if server is running on port 8080
        run: curl http://localhost:8080

      - name: run newman test
        working-directory: backend
        run: npm test
